<%- include("partials/header") %>

<div class="deck-page">
      <div class="heading-container">
            <div class="heading">Deck</div>
      </div>

      <div class="top-container">
            <div class="deck-container">
            <% deck.forEach(function(card) { %>
                  <div class="card-container">
                        <img class="card-image" src="<%= card.img %>">
                        <div class="number-container" id="<%= card._id %>">
                              <span class="number-show"><%= card.number %></span>
                              <input class="number-display" type="hidden" value="<%= card.number %>" readonly>
                              <i onclick="plus('<%= card._id %>')" class="fas fa-angle-up"></i>
                              <i onclick="minus('<%= card._id %>')" class="fas fa-angle-down"></i>
                        </div>
                        
                  </div>
            <% }); %>
            </div>
      </div>
</div>

<%- include("partials/footer") %>