<%- include("partials/header") %>



<form action="/search" method="POST" class="col-6 row g-3 search-form">
    <h3 class="text-center">Search</h3>
  <div class="col-12 margin-chop">
    <label for="inputAddress2" class="form-label">Card Name:</label>
    <input type="text" class="form-control" name="card" placeholder="Wrath of God...">
  </div>

    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<% if(message){ %>
  <h2 class="text-center"><%= message %></h2>
<% } %>

<% if(card.img){ %>
<form action="/addCard" method="POST">
  <img src="<%= card.img %>">

  <input type="hidden" name="card" value="<%= card.img %>">
  <button type="submit" class="btn btn-success">Add</button>
</form>
  <a href="/search"><button class="btn btn-secondary">Cancel</button></a>
 <% } %>

<%- include("partials/footer") %>