<%- include("partials/header") %>



<form action="/search" method="POST" class="col-6 row g-3 search-form">
    <h3 class="text-center">Search</h3>
  <div class="col-12 margin-chop">
    <label for="inputAddress2" class="form-label">Card Name:</label>
    <input type="text" class="form-control" name="card" placeholder="Wrath of God...">
  </div>

    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<% if(message){ %>
  <h2 class="text-center message"><%= message %></h2>
<% } %>

<div class="top-result-container">
  

  <% if(deck){ %>
    <div class="result-container">
      <% deck.forEach((card) => { %>
        <div class="card-search-container" id="<%= card.img %>">
          <img class="card-image" src="<%= card.img %>">
          <div>
            <form action="/addCard" method="POST">

              <input type="hidden" name="card" value="<%= card.img %>">
              <input class="number-of-cards" type="text" name="number" value="1">
              <i onclick="plusSearch('<%= card.img %>')" class="fas fa-angle-up search"></i>
              <i onclick="minusSearch('<%= card.img %>')" class="fas fa-angle-down search"></i>
              <button type="submit" class="btn btn-success">Add</button>
            </form>
              <button onclick="hideCard('<%= card.img %>')" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

</div>

<script src="JS/search.js"></script>
<%- include("partials/footer") %>